
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div> 
       
        <a href='@Url.Action("Download", "File", new { fileName = "MyPhoto.png" })'>下载文件</a>


    </div>
</body>
</html>
